<div class="relative w-full">
  <app-avatar
    [ciruclar]="true"
    [width]="width"
    [textStyle]="'font-[600] text-[20.7px] text-[#034EA2]'"
    [height]="height"
    [name]="name"
  />
  <img
    [ngStyle]="{ width: getHalfAsString(width) + 'px', height: getHalfAsString(height) + 'px' }"
    class="bottom-0 bg-[#fff] right-[-10px] flex justify-center items-center rounded-full absolute z-[10]"
    [src]="badgeSrc ? badgeSrc : '../../../../assets/images/bank-list-icon.svg'"
    alt=""
  />
</div>
