<div class="w-full rounded-[20px] bg-[#fff] p-[20px] flex flex-col gap-[32px]">
    <div class="w-full flex items-center justify-between cursor-pointer">
        <div class="w-full flex items-center gap-[8px]">
            <img src="../../../../assets/images/airtel-mobile.svg" alt="">
            <div class="flex flex-col gap-[4px]">
                <span class="font-[600] text-[16px] text-[#1E293B]">0708 657 8323</span>
                <span class="font-[600] text-[14px] text-[#64748B]">AIRTEL</span>
            </div>
        </div>
        <img src="../../../../assets/icons/trash.svg" alt="">
    </div>
    <div class="w-full flex items-center justify-between cursor-pointer">
        <div class="w-full flex items-center gap-[8px]">
            <img src="../../../../assets/images/airtel-mobile.svg" alt="">
            <div class="flex flex-col gap-[4px]">
                <span class="font-[600] text-[16px] text-[#1E293B]">0708 657 8323</span>
                <span class="font-[600] text-[14px] text-[#64748B]">AIRTEL</span>
            </div>
        </div>
        <img src="../../../../assets/icons/trash.svg" alt="">
    </div>
    <div class="w-full flex items-center justify-between cursor-pointer">
        <div class="w-full flex items-center gap-[8px]">
            <img src="../../../../assets/images/airtel-mobile.svg" alt="">
            <div class="flex flex-col gap-[4px]">
                <span class="font-[600] text-[16px] text-[#1E293B]">0708 657 8323</span>
                <span class="font-[600] text-[14px] text-[#64748B]">AIRTEL</span>
            </div>
        </div>
        <img src="../../../../assets/icons/trash.svg" alt="">
    </div>
    <div class="w-full flex items-center justify-between cursor-pointer">
        <div class="w-full flex items-center gap-[8px]">
            <img src="../../../../assets/images/airtel-mobile.svg" alt="">
            <div class="flex flex-col gap-[4px]">
                <span class="font-[600] text-[16px] text-[#1E293B]">0708 657 8323</span>
                <span class="font-[600] text-[14px] text-[#64748B]">AIRTEL</span>
            </div>
        </div>
        <img src="../../../../assets/icons/trash.svg" alt="">
    </div>
</div>