<div class="w-full flex flex-col gap-[24px] py-[25px] px-[20px]">
    <div class="w-full flex flex-col gap-[14px]">
        <span class="font-[600] text-[16px] text-[#64748B]">ACCOUNT TYPE</span>
        <div class="flex items-center gap-[7px] w-full">
            <div (click)="setAccountType(account)" *ngFor="let account of accountType" class="py-[5px] cursor-pointer max-w-[240px] w-full bg-white rounded-[16px] flex flex-col gap-[14px] px-[6px]">
                <div class="w-full flex items-start justify-between">
                    <img class="w-[50px]" src="../../../../assets/images/{{account === 'Savings' ? 'shapes-avatar-savings' : 'shapes-avatar-current'}}.svg " alt="">
                    <div class="w-[16px] h-[16px] rounded-full" [ngClass]="selectedAccount === account ? 'border-[5px] border-[#034EA2]' : 'border-[1px] border-[#CBD5E1]'"></div>
                </div>
                <span class="font-[500] text-[16px] ms-[10px] mb-[13px]" [ngClass]="selectedAccount === account ? 'text-[#1E293B]' : 'text-[#64748B]'">{{account}}</span>
            </div>
        </div>
    </div>
    <app-input [placeholder]="'Account Suffix'" />
    <div class="w-full flex justify-end">
        <div class="max-w-[210px] w-full"><app-button-filled [text]="'Add Account'" /></div>
    </div>
</div>