<app-onboarding-layout>
<div class="flex flex-col pt-[120px]">
  <div class="flex flex-col gap-[27px] max-w-[456px] w-full h-full z-[9999] ">
    <div class="flex flex-col gap-[16px] w-full">
      <span class="text-[#161E2E] text-[24px] font-[900]">
        Forgot Password
      </span>
      <span class="text-[#6B7280] sm:text-[18px] text-[14px] font-[400]">
        Seems your forgot your password, let’s help reset it.
      </span>
    </div>
  </div>


  <div class="flex flex-col gap-[24px] relative p-[24px] sm:px-[24px] px-0 shadow_ sm:bg-[#fff] rounded-[10px]">
    <app-input [type]="'text'" [label]="'Email'" [value]="email" [placeholder]="'Enter your email address'"
      [error]="validators.email" (onChange)="handleChange('email', $event)"></app-input>

    <app-input [type]="'number'" [label]="'Phone Number'" [value]="phoneNumber" [maxLength]="11"
      [placeholder]="'Enter your phone number'" [error]="validators.phoneNumber" [phone]="true"
      (getCountryCode)="getCountryCode($event)" (onChange)="handleChange('phoneNumber', $event)"></app-input>

      <div class="w-full max-w-[157px]">
        <app-button-filled [action]="forgotPassword" [text]="'Continue'" />
      </div>

    <!-- <div class="flex justify-end"> -->
      <!-- (click)="showPassword ? login() : verifyEmail()" -->
      <!-- <span
        class="w-full h-[53px] transition-all ease-in duration-100 flex items-center justify-center bg-[#034EA2] text-[#fff] rounded-[5px] cursor-pointer text-[16px] font-[800]">
        Continue
      </span> -->

    <!-- </div> -->
  </div>
</div>

</app-onboarding-layout>
