<div class="flex flex-col gap-[14px] p-[24px] sm:px-[24px] px-0 shadow_ sm:bg-[#fff] rounded-[10px]">
  <app-input *ngIf="accountType === 'Individual'" [type]="'text'" [label]="'Email'" [value]="email"
    [placeholder]="'Enter your email address'" [error]="validators.email"
    (onChange)="handleChange('email', $event)"></app-input>

  <app-input *ngIf="accountType === 'Corporate'" [type]="'number'" [label]="'Phone Number'" [value]="phoneNumber"
    [maxLength]="11" [placeholder]="'Enter your phone number'" [error]="validators.phoneNumber" [phone]="true"
    (getCountryCode)="getCountryCode($event)" (onChange)="handleChange('phoneNumber', $event)"></app-input>

  <div class="flex justify-end">
    <!-- (click)="showPassword ? login() : verifyEmail()" -->
    <span
      class="w-full h-[53px] transition-all ease-in duration-100 flex items-center justify-center bg-[#034EA2] text-[#fff] rounded-[5px] cursor-pointer text-[16px] font-[800]">
      Continue
    </span>

  </div>
</div>
