<div class="w-full flex flex-col gap-[59px] bg-stroke p-[20px] relative">
  <div class="w-full flex justify-center gap-[42px] flex-col items-center">
    <span class="font-[800] text-[24px] text-[#1E293B]">Purchase Successful</span>
    <img src="../../../../assets/images/successful-image.svg" alt="" />
  </div>
  <div class="w-full flex flex-col bg-[#fff] rounded-[20px] p-[20px]">
    <span class="font-[600] text-[18px] text-[#1E293B]">Payment Details</span>
    <div class="w-full py-[22px] flex justify-between items-center border-y border-dashed border-[#E2E8F0]">
        <span>Amount</span>
        <span>₦5000.00</span>
    </div>
    <div class="w-full mt-[30px] flex flex-col gap-[24px]">
        <div class="w-full flex justify-between items-center">
            <span class="font-[500] text-[16px] text-[#1E293B]">Recipient Number</span>
            <span class="font-[500] text-[16px] text-[#1E293B]">0708 657 8283 </span>
        </div>
        <div class="w-full flex justify-between items-center">
            <span class="font-[500] text-[16px] text-[#1E293B]">Purchase</span>
            <span class="font-[500] text-[16px] text-[#1E293B]">Airtime</span>
        </div>
        <div class="w-full flex justify-between items-center">
            <span class="font-[500] text-[16px] text-[#1E293B]">Network</span>
            <div class="flex items-center gap-[8px]">
                <img src="" alt="">
                <span class="font-[500] text-[16px] text-[#1E293B]">Airtime</span>
            </div>
        </div>
    </div>
  </div>
</div>
