<div class="w-full flex flex-col gap-[24px]">
    <div class="w-full flex flex-col gap-[8px]">
        <span class="font-[600] text-[18px] text-[#1E293B]">25 April</span>
        <div class="w-full rounded-[20px] bg-white flex flex-col gap-[32px] p-[20px]">
            <div class="w-full flex items-center justify-between">
                <div class="gap-[8px] flex items-center">
                    <img class="w-[50px]" src="../../../../assets/icons/failed-transaction.svg" alt="">
                    <div class="gap-[4px] flex flex-col">
                        <span class="font-[500] text-[18px] text-[#1E293B]">Airtel - Data|Ab|010323445...</span>
                        <div class="gap-[8px] flex items-center">
                            <span class="font-[500] text-[16px] text-[#64748B]">3:10pm</span>
                            <div class="pt-[2px] pb-[4px] px-[6px] bg-[#F1F5F9] rounded-[4px]"><span class="font-[500] text-[14px] text-[#64748B]">From - Abasifreke Em... Main</span></div>
                        </div>
                    </div>
                </div>
                <span class="font-[600] text-[18px] text-[#1E293B]">-₦23,500.<span class="font-[500] text-[14px]">00</span></span>
            </div>
            <div class="w-full flex items-center justify-between">
                <div class="gap-[8px] flex items-center">
                    <img class="w-[50px]" src="../../../../assets/icons/failed-transaction.svg" alt="">
                    <div class="gap-[4px] flex flex-col">
                        <span class="font-[500] text-[18px] text-[#1E293B]">Airtel - Data|Ab|010323445...</span>
                        <div class="gap-[8px] flex items-center">
                            <span class="font-[500] text-[16px] text-[#64748B]">3:10pm</span>
                            <div class="pt-[2px] pb-[4px] px-[6px] bg-[#F1F5F9] rounded-[4px]"><span class="font-[500] text-[14px] text-[#64748B]">From - Abasifreke Em... Main</span></div>
                        </div>
                    </div>
                </div>
                <span class="font-[600] text-[18px] text-[#1E293B]">-₦2,300.<span class="font-[500] text-[14px]">00</span></span>
            </div>
        </div>
    </div>
    <div class="w-full flex flex-col gap-[8px]">
        <span class="font-[600] text-[18px] text-[#1E293B]">24 April</span>
        <div class="w-full rounded-[20px] bg-white flex flex-col gap-[32px] p-[20px]">
            <div class="w-full flex items-center justify-between">
                <div class="gap-[8px] flex items-center">
                    <img class="w-[50px]" src="../../../../assets/icons/failed-transaction.svg" alt="">
                    <div class="gap-[4px] flex flex-col">
                        <span class="font-[500] text-[18px] text-[#1E293B]">Airtel - Data|Ab|010323445...</span>
                        <div class="gap-[8px] flex items-center">
                            <span class="font-[500] text-[16px] text-[#64748B]">3:10pm</span>
                            <div class="pt-[2px] pb-[4px] px-[6px] bg-[#F1F5F9] rounded-[4px]"><span class="font-[500] text-[14px] text-[#64748B]">From - Abasifreke Em... Main</span></div>
                        </div>
                    </div>
                </div>
                <span class="font-[600] text-[18px] text-[#1E293B]">-₦3,500.<span class="font-[500] text-[14px]">00</span></span>
            </div>
        </div>
    </div>
    <div class="w-full flex flex-col gap-[8px]">
        <span class="font-[600] text-[18px] text-[#1E293B]">20 April</span>
        <div class="w-full rounded-[20px] bg-white flex flex-col gap-[32px] p-[20px]">
            <div class="w-full flex items-center justify-between">
                <div class="gap-[8px] flex items-center">
                    <img class="w-[50px]" src="../../../../assets/icons/failed-transaction.svg" alt="">
                    <div class="gap-[4px] flex flex-col">
                        <span class="font-[500] text-[18px] text-[#1E293B]">Airtel - Data|Ab|010323445...</span>
                        <div class="gap-[8px] flex items-center">
                            <span class="font-[500] text-[16px] text-[#64748B]">3:10pm</span>
                            <div class="pt-[2px] pb-[4px] px-[6px] bg-[#F1F5F9] rounded-[4px]"><span class="font-[500] text-[14px] text-[#64748B]">From - Abasifreke Em... Main</span></div>
                        </div>
                    </div>
                </div>
                <span class="font-[600] text-[18px] text-[#1E293B]">-₦500.<span class="font-[500] text-[14px]">00</span></span>
            </div>
        </div>
    </div>
</div>
<!-- <div *ngFor="let group of groupedTransactions" class="mb-6">
    <h3 class="font-bold text-lg text-[#1E293B] mb-2">{{ group.date }}</h3>
    <div *ngFor="let tx of group.transactions" class="p-3 bg-[#F1F5F9] rounded mb-2">
      <p>ID: {{ tx.id }}</p>
      <p>Amount: ₦{{ tx.amount }}</p>
      <p>Time: {{ tx.date | date: 'shortTime' }}</p>
    </div>
  </div> -->