@font-face {
    font-family: "OverusedGrotesk";
    src: url("../assets/fonts/OverusedGrotesk-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "OverusedGrotesk";
    src: url("../assets/fonts/OverusedGrotesk-Italic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "OverusedGrotesk";
    src: url("../assets/fonts/OverusedGrotesk-Book.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OverusedGrotesk";
    src: url("../assets/fonts/OverusedGrotesk-Roman.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "OverusedGrotesk";
    src: url("../assets/fonts/OverusedGrotesk-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "OverusedGrotesk";
    src: url("../assets/fonts/OverusedGrotesk-Light.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "OverusedGrotesk";
    src: url("../assets/fonts/OverusedGrotesk-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}


