<html>

<head>
    <link rel="stylesheet" href="../fonts/Avenir.ttc">
    <link href="./STATEMENT 01.css" rel="stylesheet" />
</head>

<body class="statement-body">
    <section class="top">
        <div class="left">
            <img src="../images/logo2.svg" />
        </div>
        <div class="right">
            <p class="heading">Safe Haven Microfinance Bank</p>
            <p class="subheading">Customer Account Statement</p>
        </div>
    </section>
    <section class="content">
        <div class="top-section">
            <div class="left">
                <div class="info-content">
                    <div class="info">
                        <p class="title">Address</p>
                        <p class="description">Duplex 10, Mabushi Ultra-modern City Plaza Complex. Abuja, Nigeria </p>
                    </div>
                    <div class="info">
                        <p class="title">Currency</p>
                        <p class="description">Naira </p>
                    </div>
                </div>
                <div class="info-content">
                    <div class="info">
                        <p class="title">Period </p>
                        <p class="description">22/Jul/2021 - 22/Jul/2021</p>
                    </div>
                    <div class="info">
                        <p class="title">Print Date</p>
                        <p class="description">22/Jul/2021</p>
                    </div>
                </div>
                <div class="info-content">
                    <div class="info">
                        <p class="title">Account Number</p>
                        <p class="description">2223456748</p>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="balance-content">
                    <p class="title">Opening Balance </p>
                    <p class="amount">N0.00</p>
                </div>
                <div class="balance-content">
                    <p class="title">Closing Balance</p>
                    <p class="amount">N111,500.00</p>
                </div>
            </div>
        </div>
        <table rules="none">
            <thead>
                <tr>
                    <th>TXN DATE</th>
                    <th>REFERENCE ID</th>
                    <th>NARRATION</th>
                    <th class="align-right">DEBIT</th>
                    <th class="align-right">CREDIT</th>
                    <th class="align-right">RUNNING BALANCE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>April 5, 2020</td>
                    <td>22290983845</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae fames tincidunt consequat orci
                        dui ac imperdiet risus amet. Imperdiet est venenatis cursus tristique feugiat sit egestas sed.
                        Tincidunt et tortor, lorem euismod dui vel. Elit feugiat netus rhoncus enim. Tincidunt et
                        tortor, lorem euismod dui vel. Elit feugiat netus rhoncus enim.Tincidunt et tortor, lorem
                    <td class="align-right amount">150,000</td>
                    <td class="align-right amount"></td>
                    <td class="align-right amount">44,455,666,754</td>
                </tr>
                <tr>
                    <td>April 5, 2020</td>
                    <td>22290983845</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae fames tincidunt consequat orci
                        dui ac imperdiet risus amet. Imperdiet est venenatis cursus tristique feugiat sit egestas sed.
                        Tincidunt et tortor, lorem euismod dui vel. Elit feugiat netus rhoncus enim. Tincidunt et
                        tortor, lorem euismod dui vel. Elit feugiat netus rhoncus enim.Tincidunt et tortor, lorem
                    <td class="align-right amount">150,000</td>
                    <td class="align-right amount"></td>
                    <td class="align-right amount">44,455,666,754</td>
                </tr>
                <!-- <tr>
                    <td>April 5, 2020</td>
                    <td>22290983845</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae fames tincidunt consequat orci
                        dui ac imperdiet risus amet. Imperdiet est venenatis cursus tristique feugiat sit egestas sed.
                        Tincidunt et tortor, lorem euismod dui vel. Elit feugiat netus rhoncus enim. Tincidunt et
                        tortor, lorem euismod dui vel. Elit feugiat netus rhoncus enim.Tincidunt et tortor, lorem
                    <td class="align-right amount">150,000</td>
                    <td class="align-right amount"></td>
                    <td class="align-right amount">44,455,666,754</td>
                </tr>
                <tr>
                    <td>April 5, 2020</td>
                    <td>22290983845</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae fames tincidunt consequat orci
                        dui ac imperdiet risus amet. Imperdiet est venenatis cursus tristique feugiat sit egestas sed.
                        Tincidunt et tortor, lorem euismod dui vel. Elit feugiat netus rhoncus enim. Tincidunt et
                        tortor, lorem euismod dui vel. Elit feugiat netus rhoncus enim.Tincidunt et tortor, lorem
                    <td class="align-right amount">150,000</td>
                    <td class="align-right amount"></td>
                    <td class="align-right amount">44,455,666,754</td>
                </tr>
                <tr>
                    <td>April 5, 2020</td>
                    <td>22290983845</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae fames tincidunt consequat orci
                        dui ac imperdiet risus amet. Imperdiet est venenatis cursus tristique feugiat sit egestas sed.
                        Tincidunt et tortor, lorem euismod dui vel. Elit feugiat netus rhoncus enim. Tincidunt et
                        tortor, lorem euismod dui vel. Elit feugiat netus rhoncus enim.Tincidunt et tortor, lorem
                    <td class="align-right amount">150,000</td>
                    <td class="align-right amount"></td>
                    <td class="align-right amount">44,455,666,754</td>
                </tr> -->
            </tbody>
        </table>
        <table class="bottom" rules=none>
            <tr>
                <td>
                    <p class="title">DISCLAIMER</p>
                <p class="description">This is a computer generated statement requiring no signature and it represents
                    our records of your
                    transactions with us. Any exceptions must be advised to the bank immediately. If we do not hear from
                    you within 2 weeks. We will assume that you are in agreement with the details stated. All products
                    are subject to the bank's terms and conditions. For any enquiries, please contact
                </td>
                <td><img src="../images/stamp.jpg" /></td>
            </tr>
        </table>
        <div class="bottom">
            <div class="left">
                <p class="title">DISCLAIMER</p>
                <p class="description">This is a computer generated statement requiring no signature and it represents
                    our records of your
                    transactions with us. Any exceptions must be advised to the bank immediately. If we do not hear from
                    you within 2 weeks. We will assume that you are in agreement with the details stated. All products
                    are subject to the bank's terms and conditions. For any enquiries, please contact our business
                    concierge team on 0700SAFEHAVEN (0700 7233 42836) or send an email to hell0.</p>
            </div>
            <div class="right">
                <div class="images"><img /></div>
                <div class="images"><img src="../images/stamp.jpg" /></div>
            </div>
        </div>
    </section>
</body>

</html>