<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../fonts/Avenir.ttc">
    <style>
        body,
        html {
            width: 100%;
            min-height: 100%;
            margin: 0;
            background: #F1F5F9;
            font-family: "Avenir", sans-serif;
        }
    </style>
</head>

<body>
    <center style="width: 650px;height: 100%; background-color: white; padding: 40px; margin: 0 auto;">
        <table style="width: 100%;height: 200px;background-color: #034EA2;">
            <tr class="top">
                <td style="padding: 35px;">
                    <table>
                        <tr>
                            <td>
                                <img src="../images/logo2.svg" />
                            </td>
                        </tr>
                    </table>
                    <table style="margin: 10px auto;">
                        <tr>
                            <td style="width: 120px;">
                                <img style="width: 100%;" src="../images/email-icon1.svg" />
                            </td>
                        </tr>
                    </table>
                    <table style="margin: 0 auto;">
                        <tr>
                            <td style="font-size: 22px;color:white;font-weight: 800;">Success!</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table style="width: 100%; min-height: 300px; margin:0 0 20px 0;background-color: #F1F5F9; padding: 45px;">
            <tr>
                <td style="text-align: center;font-size: 20px;color: #27303F;font-weight: 800;padding-bottom: 15px;">
                    Hi Jane!
                </td>
            </tr>
            <tr>
                <td
                    style="text-align: center;font-size: 16px;color: #515759;font-weight: 400;padding-bottom: 15px;line-height: 30px;">
                    You have successfully registered your account. Now we bring good banking to you.
                </td>
            </tr>
            <tr>
                <td style="text-align: center;padding: 30px;">
                    <a
                    style="padding: 20px 40px; text-decoration: none;background: #034EA2;color:white;border-radius: 5px;font-weight: 800;font-size: 15px">
                        Login to your Dashboard
                    </a>
                </td>
            </tr>
            <tr>
                <td style="font-size: 16px;color: #515759;font-weight: 400;padding-bottom: 15px;line-height: 30px;">
                    Thank you</td>
            </tr>
            <tr>
                <td style="font-size: 16px;color: #27303F;font-weight: 800;padding-bottom: 15px;">
                    Team Safe Haven
                </td>
            </tr>
        </table>
        <table style="width: 100%;margin: 20px 0;background-color: white; padding: 20px 0; ">
            <tr>
                <td style="width: 30px; padding-bottom: 10px;">
                    <a style="width: 30px; margin-right: 15px;">
                        <img style="width: 30px;" src="../images/twitter.svg" />
                    </a>
                    <a style="width: 30px; margin-right: 15px;">
                        <img style="width: 30px;" src="../images/facebook.svg" />
                    </a>
                    <a style="width: 30px;">
                        <img style="width: 30px;" src="../images/linkedin.svg" />
                    </a>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">
                    <a>
                        <img s style="width: 120px;mix-blend-mode: luminosity;opacity: 0.6;"
                            src="../images/logo1.svg" />
                    </a>

                </td>
            </tr>
            <tr>
                <td style="color: #999999;font-weight: normal;font-size: 12px;padding-bottom: 5px;">
                    Copyright © 2020 Safehaven MFB.
                </td>
            </tr>
            <tr>
                <td style="color: #999999;font-weight: normal;font-size: 12px;padding-bottom: 5px;">
                    Duplex 10, Mabushi Ultra Modern Market, Kado Abuja Nigeria
                </td>
            </tr>
            <tr>
                <td style="color: #999999;font-weight: normal;font-size: 12px;margin-bottom: 1px;">
                    0700723342836 , info@safehavenmfb.com
                </td>
            </tr>
        </table>
    </center>
</body>

</html>