<div class="flex flex-col gap-[14px] p-[24px] sm:px-[24px] relative px-0 shadow_ sm:bg-[#fff] rounded-[10px]">
  <!-- Error message -->
  <div *ngIf="error.message !== ''" class="w-full px-[16px] py-[13px] flex items-center gap-[8px]">
    <span class="min-w-[30px] h-[30px] flex items-center justify-center rounded-[5px]">
      <img src="../../../../assets/icons/error-icon.svg" alt="" />
    </span>
    <span class="text-[13px] text-[#E02424] font-[800]">
      {{
      error.type !== "create-account"
      ? error.message
      : "This email is not assigned to any user, you may want to check and retry, otherwise"
      }}
      <span *ngIf="error.type === 'create-account'" (click)="sendOtp()"
        class="font-[900] underline text-[#034EA2] cursor-pointer">Create Account.
      </span>
      <span *ngIf="error.type === 'reset-password'" [routerLink]="['/forgot-password']"
        class="font-[900] underline text-[#034EA2] cursor-pointer">Reset Password.
      </span>
      <span *ngIf="error.type === 'signin'" (click)="navigate()"
        class="font-[900] underline text-[#034EA2] cursor-pointer">Sign In.
      </span>
    </span>
  </div>
  <!-- success message -->

  <div *ngIf="(success.message && success.message !== '') || loading_"
    class="bg-[#034da20d] w-full px-[16px] py-[13px] ">
    <div *ngIf="!loading_" class="w-full flex items-center gap-[8px]">
      <span class="min-w-[30px] h-[30px] flex items-center justify-center bg-[#034da232] rounded-[5px]"><img
          src="../../../../assets/icons/warn_.svg" alt="" /></span>
      <span class="text-[13px] text-[#034EA2] font-[800]">
        {{ success.message }}
      </span>
    </div>
    <div *ngIf="loading_" class="w-full h-full   flex justify-center items-center">
      <span class="w-[27px] h-[27px] border border-l-[#fff] rounded-full animate-spin border-[#034EA2]"></span>
    </div>
  </div>

  <app-input [type]="'text'" [value]="email" [placeholder]="'Enter your email address'" [error]="validators.email"
    (onChange)="handleChange('email', $event)" (submit)="!showPassword ? verifyEmail() : login()"></app-input>
  <div *ngIf="showPassword && path === 'login'" class="flex flex-col gap-[8px] w-full">
    <app-input [type]="passwordType" [placeholder]="'Enter your password'" [value]="password"
      [error]="validators.password" (onChange)="handleChange('password', $event)" (submit)="login()">
      <img *ngIf="passwordType === 'password'" (click)="passwordType = 'text'" class="w-[14px] cursor-pointer"
        src="../../../../assets/icons/eye.svg" alt="" />
      <img *ngIf="passwordType === 'text'" (click)="passwordType = 'password'" class="w-[14px] cursor-pointer"
        src="../../../../assets/icons/eye-off.svg" alt="" /></app-input>
    <span [routerLink]="['/forgot-password']"
      class="text-end cursor-pointer text-[14px] font-[800] text-[#6B7280]">forgot password?
    </span>
  </div>
  <div *ngIf="loading" class="absolute top-0 left-0 bottom-0 right-0 bg-[#ffffff54]"></div>
  <div class="flex justify-end">
    <span *ngIf="error.type !== 'create-account'" (click)="showPassword && path === 'login' ? login() : verifyEmail()"
      class="{{
        showPassword || path === 'create-account'
          ? 'w-full'
          : 'sm:w-[157px] w-full'
      }} h-[53px] transition-all ease-in duration-100 capitalize flex items-center justify-center bg-[#034EA2] text-[#fff] rounded-[5px] cursor-pointer text-[16px] font-[800]"><span
        *ngIf="loading"
        class="min-w-[27px] h-[27px] rounded-full capitalize border border-l-[#034EA2] animate-spin"></span>
      {{ loading ? "" : showPassword ? path.replace("-", " ") : "Continue" }}
    </span>
    <span *ngIf="error.type === 'create-account'" (click)="  sendOtp()"
      class="{{
        showPassword || path === 'create-account'
          ? 'w-full'
          : 'sm:w-[157px] w-full'
      }} h-[53px] transition-all ease-in duration-100 capitalize flex items-center justify-center bg-[#034EA2] text-[#fff] rounded-[5px] cursor-pointer text-[16px] font-[800]"><span
        *ngIf="loading"
        class="min-w-[27px] h-[27px] rounded-full capitalize border border-l-[#034EA2] animate-spin"></span>
      {{ loading ? "" : "Create account" }}
    </span>
  </div>
</div>
