<div class="w-full flex flex-col bg-white rounded-[20px] py-[24px] px-[28px] gap-[40px]">
    <div class="w-full flex flex-col gap-[10px]">
        <span class="font-[600] text-[14px] text-[#64748B]">REAL-TIME ALERTS</span>
        <div class="w-full flex flex-col gap-[24px]">
            <div class="w-full flex items-center justify-between">
                <div class="flex flex-col w-full gap-[4px]">
                    <span class="font-[600] text-[14px] text-[#1E293B]">Security and Transaction Emails</span>
                    <span class="font-[500] text-[14px] text-[#64748B]">Get email alerts for logins, password changes, and all transactions</span>
                </div>
                <app-switch />
            </div>
            <div class="w-full flex items-center justify-between">
                <div class="flex flex-col w-full gap-[4px]">
                    <span class="font-[600] text-[14px] text-[#1E293B]">Security and Transaction SMS Alerts</span>
                    <span class="font-[500] text-[14px] text-[#64748B]">Receive SMS alerts for login, password changes, and all transactions.</span>
                </div>
                <app-switch />
            </div>
        </div>
    </div>
    <div class="w-full flex flex-col gap-[10px]">
        <span class="font-[600] text-[14px] text-[#64748B]">MONTHLY STATEMENTS</span>
        <div class="w-full flex flex-col gap-[24px]">
            <div class="w-full flex items-center justify-between">
                <div class="flex flex-col w-full gap-[4px]">
                    <span class="font-[600] text-[14px] text-[#1E293B]">Monthly Statement via Email</span>
                    <span class="font-[500] text-[14px] text-[#64748B]">Get you account statement delivered to your email every month</span>
                </div>
                <app-switch />
            </div>
            <div class="w-full flex items-center justify-between">
                <div class="flex flex-col w-full gap-[4px]">
                    <span class="font-[600] text-[14px] text-[#1E293B]">Monthly Statement via SMS</span>
                    <span class="font-[500] text-[14px] text-[#64748B]">Receive a summary of your account statement via SMS each month.</span>
                </div>
                <app-switch />
            </div>
        </div>
    </div>
</div>
