<div class="flex flex-col gap-[14px] py-[24px] sm:px-[24px] px-0 shadow_ sm:bg-[#fff] relative rounded-[10px]">
  <div *ngIf="error" class="bg-[#FDF2F2] w-full px-[16px] py-[13px] flex items-center gap-[8px]">
    <span class="min-w-[30px] h-[30px] flex items-center justify-center bg-[#FBD5D5] rounded-[5px]"><img
        src="../../../../assets/icons/red_warn.svg" alt="" /></span>
    <span class="text-[13px] text-[#E02424] font-[800]">
      {{ error }}
    </span>
  </div>
  <span class="text-[#6B7280] text-[16px] font-[400]">
    Please enter the 6-digits code sent to your
    {{ loginData?.accountType === "Corporate" ? "Email" : "Phone number" }}
    <!-- <span class="font-[800]"
      >({{
        "*****" + loginData?.user?.slice(loginData?.user?.length - 4)
      }})</span
    > -->
  </span>
  <div class="w-full relative">
    <app-otp-input [length]="6" [error]="error" (onChange)="onPinChange($event)"></app-otp-input>
    <div *ngIf="loading" class="absolute bg-[#ffffff6a] left-0 top-0 right-0 bottom-0"></div>
  </div>

  <span class="text-[#6B7280] w-full sm:text-[14px] text-[14px] font-[400]">
    <div *ngIf="!showTimer" class="inline-flex gap-1">
      I didn't receive the OTP,
      {{ loginData?.accountType !== "Corporate" ? "resend by" : "" }}
      <span *ngIf="loginData?.accountType === 'Corporate'" (click)="showTimer ? null : resendOtp()" class="font-[800] text-[13px] {{
          showTimer ? 'cursor-not-allowed opacity-[0.5]' : 'cursor-pointer'
        }}">Resend
      </span>
      <div class="inline-flex gap-[8px]">
        <span *ngIf="resendType !== 'VOICE'" (click)="showTimer ? null : resendOtp('SMS')"
          class="text-[#034EA2] cursor-pointer font-[700]">SMS</span>
        {{ showTimer ? "" : "or" }}
        <span *ngIf="resendType !== 'SMS'" (click)="showTimer ? null : resendOtp('VOICE')"
          class="text-[#034EA2] cursor-pointer font-[700]">Voice
        </span>
      </div>
    </div>
    <span *ngIf="showTimer" class="text-[#6B7280] w-full sm:text-[14px] text-[14px] font-[400]">Resend OTP in</span>
    <app-countdown *ngIf="showTimer" (hideTimer)="clearCountDown()"></app-countdown>
  </span>
  <span *ngIf="!hideBackBtn" (click)="close_()" class="cursor-pointer flex items-center text-[#9FA6B2] gap-[7px]">
    <img class="h-[14px] min-w-[16px]" src="../../../assets/images/arrow-back.svg" alt="" />
    Back
  </span>
  <div *ngIf="loading"
    class="flex w-full justify-center absolute bg-[#ffffffaf] top-0 left-0 right-0 bottom-0 items-center">
    <span class="w-[40px] h-[40px] border border-r-[#9FA6B2] border-[#034EA2] rounded-full animate-spin"></span>
  </div>
</div>
