.p-toast {
  max-width: 150px !important;
  .p-toast-message {
    width: 100% !important;
  }
}
.p-component {
  font-size: 11px !important;
}
.p-toast .p-toast-message.p-toast-message-success {
  border: none !important;
  height: 60px !important;
}
.compact-toast {
  width: 280px !important;
}

.compact-toast .p-toast-message {
  padding: 0.4rem !important;
  margin: 0.2rem 0 !important;
}
