<div style="padding: 20px;">
  <app-search (keyup)="this.filterList($event)" />
  <div class="w-full flex flex-col gap-[20px] px-[25px] py-[25px]">
    <span class="font-[600] text-[14px] text-[#64748B]">Showing {{beneficiaries.length}} Beneficiaries</span>
  </div>

  <div class="w-full rounded-[20px] bg-[#fff] flex flex-col gap-[32px] p-[20px]">
    <div *ngFor="let item of filteredList" class="w-full flex justify-between items-center">
      <div class="w-full flex items-center gap-[18px]" (click)="this.selectItem(item)">
        <app-avatar-icon [name]="item.accountName" [badgeSrc]="item.bankLogo"/>
        <div class="w-full flex flex-col gap-[2px]">
          <span class="font-[600] text-[16px] text-[#1E293B]">
            {{ item.accountName }}
          </span>
          <span class="font-[500] text-[16px] text-[#64748B]">
            {{ item.accountNumber }}
          </span>
          <span class="font-[500] text-[16px] text-[#64748B]">
            {{item.bank}}
          </span>
        </div>
      </div>
      <div (click)="this.deleteBeneficiary(item)">
        <img src="../../../../assets/icons/trash.svg" alt="" />
      </div>
    </div>

  </div>
</div>
