<div class="w-full flex flex-col bg-white rounded-[20px] py-[24px] px-[28px] gap-[28px]">
    <span class="font-[500] text-[16px] text-[#64748B]">1 Document</span>
    <div class="w-full">
        <div class="w-full max-w-[260px] rounded-[20px] bg-[#F8FAFC] px-[10px] pt-[10px] pb-[24px] justify-center items-center flex flex-col gap-[16px]">
            <div class="w-full max-w-[240px] flex justify-center items-center bg-white py-[52px] rounded-[20px]"><img src="../../../../assets/images/file-format-img.svg" alt=""></div>
            <span class="font-[600] text-[16px] text-[#64748B]">SMS Indeminity.PDF</span>
            <div class="w-[86px] pt-[9.5px] pb-[10.5px] px-[27px] border border-[#CBD5E1] rounded-[10px]">
                <span class="font-[600] text-[14px] text-[#334155]">View</span>
            </div>
        </div>
    </div>
</div>
