<div class="w-full flex flex-col gap-[24px] py-[32px] px-[40px]">
    <div (click)="goBack()" class="flex cursor-pointer w-fit items-center"><img src="../../../../assets/icons/back-arrow.svg" alt=""><span class="font-[600] text-[14px] text-[#334155]">Back</span></div>
    <div class="w-full flex items-center justify-between rounded-[20px] bg-white px-[28px] pt-[16.5px] pb-[21.5px]">
        <div class="flex items-center gap-[8px]">
            <img class="w-[60px] h-[60px]" src="../../../../assets/images/shapes-avatar-savings.svg" alt="">
            <div class="flex flex-col gap-[8px]">
                <span class="font-[600] text-[18px] text-[#1E293B]">Kedonojo Ameh / Daily Spending</span>
                <div class="flex items-center gap-[8px]">
                    <span class="font-[500] text-[16px] text-[#64748B]">1021678900</span>
                    <div class="bg-[#EBF5FF] pt-[2px] px-[6px] pb-[4px] rounded-[4px]"><span class="font-[500] text-[14px] text-[#034EA2]">Savings</span></div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-[11px] w-fit items-end">
           <span class="font-[500] whitespace-nowrap text-[16px] text-[#94A3B8]">AVAILABLE BALANCE:  <span class="font-[700] text-[24px] text-[#1E293B]">₦500,120.24</span></span>
            <div class="w-full border-dashed border-[#E2E8F0] border-[0.5px]"></div>
            <span class="font-[500] whitespace-nowrap text-[16px] text-[#64748B]">LEDGER BALANCE: <span class="font-[600] text-[18px] text-[#64748B]">₦50,000.98</span></span>
        </div>
    </div>
    <div class="w-full flex items-center gap-[4px]">
        <div *ngFor="let tab of tabs" (click)="setTab(tab)" [ngClass]="activeTab === tab ? 'bg-[#EBF5FF]' : ''" class="py-[8px] px-[12px] rounded-[6px] cursor-pointer"><span class="font-[600] text-[14px]" [ngClass]="activeTab === tab ? 'text-[#034EA2]' : 'text-[#64748B]'">{{tab}}</span></div>
    </div>
    <app-overview *ngIf="activeTab === 'Overview'" />
    <app-documents *ngIf="activeTab === 'Documents'" />
    <app-statement *ngIf="activeTab === 'Statement'" />
    <app-settings *ngIf="activeTab === 'Settings'" />
</div>
