<div class="w-full flex flex-col gap-[24px] px-[8px]">
    <div>
      <div class="bg-gradient-to-b from-[#EBF5FF] to-white w-full rounded-[10px] py-[20px] flex justify-center">
        <img src="../../../assets/images/face-verification.svg" alt="">
      </div>
      <div class="w-full flex justify-center flex-col gap-[8px]">
        <span class="text-center text-[#1E293B] font-[700] text-[24px]">Face Verification</span>
        <span class="text-center text-[16px] text-[#64748B] font-[500]">This process helps us to verify that you are a real person.</span>
      </div>
    </div>
    <div class="w-full flex flex-col bg-[#F8FAFC] gap-[20px] p-[20px] rounded-[12px]">
     <span class="text-[16px] font-[600] text-[#1E293B]">How to do it well</span>
     <div class="w-full flex flex-col gap-[16px]">
       <div class="w-full flex items-center gap-[8px]"><img src="../../../assets/icons/blue-bg-check.svg" alt=""><span class="text-[14px] font-[500] text-[#64748B]">Move to a well-lit place that is not in direct sunlight</span></div>
       <div class="w-full flex items-center gap-[8px]"><img src="../../../assets/icons/blue-bg-check.svg" alt=""><span class="text-[14px] font-[500] text-[#64748B]">Maximize your screen's brightness.</span></div>
       <div class="w-full flex items-center gap-[8px]"><img src="../../../assets/icons/blue-bg-check.svg" alt=""><span class="text-[14px] font-[500] text-[#64748B]">Ensure your face is not covered with sunglasses or a mask. </span></div>
     </div>
    </div>
    <div class="w-full flex gap-[9px] items-center">
     <div><div><img src="../../../assets/icons/info.svg" alt=""></div></div>
     <span class="text-[14px] font-[500] text-[#64748B]">This process displays colored lights. Use caution if you are photosensitive.</span>
    </div>
    <div class="w-full flex justify-end"><app-button-filled class="max-w-[183px] w-full" [text]="'Start Check'" /></div>
  </div>

<!-- 
  <div class="w-full flex flex-col gap-[24px] px-[8px]">
    <div>
      <div class="bg-gradient-to-b from-[#EBF5FF] to-white w-full rounded-[10px] py-[20px] flex justify-center">
        <img src="../../../assets/images/face-verification.svg" alt="">
      </div>
      <div class="w-full flex justify-center flex-col gap-[8px]">
        <span class="text-center text-[#1E293B] font-[700] text-[24px]">Face Verification</span>
        <span class="text-center text-[16px] text-[#64748B] font-[500]">This process helps us to verify that you are a
          real person.</span>
      </div>
    </div>
    <div class="w-full flex flex-col bg-[#F8FAFC] gap-[20px] p-[20px] rounded-[12px]">
      <span class="text-[16px] font-[600] text-[#1E293B]">How to do it well</span>
      <div class="w-full flex flex-col gap-[16px]">
        <div class="w-full flex items-center gap-[8px]"><img src="../../../assets/icons/blue-bg-check.svg" alt=""><span
            class="text-[14px] font-[500] text-[#64748B]">Move to a well-lit place that is not in direct sunlight</span>
        </div>
        <div class="w-full flex items-center gap-[8px]"><img src="../../../assets/icons/blue-bg-check.svg" alt=""><span
            class="text-[14px] font-[500] text-[#64748B]">Maximize your screen's brightness.</span></div>
        <div class="w-full flex items-center gap-[8px]"><img src="../../../assets/icons/blue-bg-check.svg" alt=""><span
            class="text-[14px] font-[500] text-[#64748B]">Ensure your face is not covered with sunglasses or a mask.
          </span></div>
      </div>
    </div>
    <div class="w-full flex gap-[9px] items-center">
      <div>
        <div><img src="../../../assets/icons/info.svg" alt=""></div>
      </div>
      <span class="text-[14px] font-[500] text-[#64748B]">This process displays colored lights. Use caution if you are
        photosensitive.</span>
    </div>
    <div class="w-full flex justify-end"><app-button-filled class="max-w-[183px] w-full" [text]="'Start Check'" /></div>
  </div> -->
