<div class="w-full flex flex-col items-center py-[42px] px-[61px] gap-[32px]">
    <img class="max-w-[271px] w-full" src="../../../../assets/images/confirmation-image.svg" alt="">
    <div class="w-full flex flex-col gap-[8px] max-w-[382px]">
        <span class="font-[700] text-center text-[24px] text-[#1E293B]">Success! Your Card Order is Confirmed</span>
        <span class="font-[500] text-center text-[18px] text-[#64748B]">Your card is now being processed. You’ll receive a confirmation email with the details shortly.</span>
    </div>
    <div class="w-full"><app-button-filled [bg]="'bg-[#EBF5FF]'" [textColor]="'text-[#034EA2]'" [text]="'Close'" /></div>
</div>